body{
    font-family: "Poppins", sans-serif;
    max-width: 1280;
    margin: 0 auto;
    color: #333333;
    background-image: url("https://images2.alphacoders.com/206/206292.jpg");
    background-color: #5e5b5bad;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

body.modo-escuro {
    background-color: #212121;
    color: #333333;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

header .logo,
header .imagem-botao {
    width: 30px;
    transition: 0.2s ease-in-out;
}

header #botao-alterar-tema {
    background: none;
    border: none;
}

header .logo:hover,
header .imagem-botao:hover,
main .cartao-pokemon:hover {
    transform: scale(1.05);
    cursor: pointer;
}

main {
    padding: 25px;
}

main .listagem-pokemon {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

main .cartao-pokemon {
    background-color: #6aabe0;
    width: 200px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 15px;
    transition: 0.2s ease-in-out;
}

main .cartao-pokemon:hover {
    background-color: #96d9d6;
}

.modo-escuro .cartao-pokemon:hover {
    background-color: #a8a8a8;
}

main .cartao-pokemon .informacao {
    display: flex;
    justify-content: space-between;
    border: 1px solid #333333;
    border-radius: 10px;
}

main .cartao-pokemon .informacao span {
    padding: 5px;
    text-transform: uppercase;
    font-size: 17px;
}

main .cartao-pokemon .gif {
    width: 90px;
    height: 90px;
}

main .cartao-pokemon .tipos {
    display: flex;
    gap: 15px;
}

main .cartao-pokemon .tipo {
    padding: 8px;
    border-radius: 10px;
}

.grama {
    background-color: #7ac74c;
}

.veneno {
    background-color: #df67ddfb;
}

.fogo {
    background-color: orange;
}

.agua {
    background-color: aqua;
}

.inseto {
    background-color: green;
}

main .descricao {
    max-height: 80px;
    overflow: scroll;
    font-size: 14px;
    padding-right: 10px;
}